<p>
    {{ block.settings.text }}
</p>

{% schema %}
{
    "name" : "Text",
    "settings" : [
        {
            "type" : "text",
            "label" : "Text",
            "id" : "text"
        }
    ],
    "presets": [
        {
            "name" : "Text"
        }
    ]
}

{% endschema %}