<html>
    <head>
        {{ content_for_header }}
        {% comment %}
          this is to add the style.css.liquid to the theme (just like in html) - asset_url gets it from the assets file and we tag it as a stylesheet tag
        {% endcomment %}
    </head>
    <body>
        {% comment %}
          if we want to render a snippet, then we use the render -> then we set the name of the file in the snippet files 
        {% endcomment %}
        {% render 'header' %}
        {{ content_for_layout }}

    </body>
</html>