<h2>Contact</h2>

{% form 'customer_address', customer.new_address %}
  {{ form.errors | default_errors }}
  <div>
  <input type="text" name="customer[address]" placeholder="address">
  </div>
  
  {% endform %}
{% schema %}
    {
    "name": "customer address",
    "settings": [],
    "presets": [{"name": "customer address"}]
  }
{% endschema %}