{% form 'contact' %}
    <div class="wd-personal-info-form-header">
        <h2 class="wd-personal-info-form-title">
            פרטים ליצירת קשר
        </h2>
        <p class="wd-personal-info-form-description">
            פריט זה מותאם אישית ולכן לא ניתן להזמינו ישירות באתר. נשמח לעזור לכם בקלות ולהשלים את ההזמנה טלפונית – פשוט התקשרו אלינו עם פרטי הדגם!
        </p>
    </div>
    <div class="wd-personal-info-form-fields">
        
        <div class="wd-personal-info-form-field">
            <input name="contact[name]" class="wd-personal-info-form-field-input is-filled" type="text" id="personal-info-name" placeholder=" " required="">
            <label for="personal-info-name" class="wd-personal-info-form-field-label">
                שם
            </label>
        </div>
        
        
        <div class="wd-personal-info-form-field">
            <input name="contact[email]" class="wd-personal-info-form-field-input is-filled" type="email" id="personal-info-email" placeholder=" " required="">
            <label for="personal-info-email" class="wd-personal-info-form-field-label">
                אימייל
            </label>
        </div>
        
        
        <div class="wd-personal-info-form-field">
            <input name="contact[phone]" class="wd-personal-info-form-field-input is-filled" type="tel" id="personal-info-phone" placeholder=" " required="">
            <label for="personal-info-phone" class="wd-personal-info-form-field-label">
                טלפון
            </label>
        </div>

        
        <div class="wd-personal-info-form-field">
            <textarea name="contact[body]" class="wd-personal-info-form-field-input is-filled" id="personal-info-message" placeholder=" " required=""></textarea>
            <label for="personal-info-message" class="wd-personal-info-form-field-label">
                ההודעה שלך
            </label>
        </div>
    </div>
    <button class="wd-personal-info-form-button" type="submit">
        <span class="wd-personal-info-form-button-text">
            צרו איתי קשר
        </span>
    </button>
    <input name="contact[length]" type="hidden" name="length" value="small" class="wd-dynamic-input">
    <input name="contact[installation-service]" type="hidden" name="שירות התקנה" value="true" class="wd-dynamic-input">
    <input name="contact[type_of_seat]" type="hidden" name="בחר סוג מושב" value="מושב בינוני" class="wd-dynamic-input">
    <input name="contact[color]" type="hidden" name="בחר צבע" value="Blue" class="wd-dynamic-input">
    <input name="contact[type_of_upholstery]" type="hidden" name="בחר סוג ריפוד" value="ריפוד בינוני" class="wd-dynamic-input">
    <input name="contact[quantity]" type="hidden" name="כמות" value="2" class="wd-dynamic-input">
{% endform %}



{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [{
      "name": "wd-form-test"
    }]
  }
{% endschema %}