<div class="page-width">
    {% content_for 'blocks' %}
</div>

{% schema %}
{
    "name" : "Theme Blocks Section",
    "blocks" :
    [
        {
            "type": "@theme"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Theme Block Section"
        }
    ]
}
{% endschema %}